*{
  margin:0;
  padding:0;
  box-sizing: border-box;-
}

body, html{
  height: 100%
}

#v-center{
  height: 100px;
  
}

#tela{
  width: 100%;
  max-width: 1280px;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 10px;
}